.content-box {
  height: 90%;
  width: 90%;
  background-color: rgba(119, 110, 97, 0.6);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

}

.video-box {
  height: 50vh;
  width: 90%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.comment-box {
  height: 30vh;
  width: 90%;
  /* border: 1px solid black; */
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  
}

